
#mainbox .hot{
	width: 78%;
	display: inline-block;
	float: left;
}
.hot h5{
	margin-bottom: 5px;
}
#mainbox .hot>img{
	margin-right: 10%;
	margin-bottom: 50px;
	margin-top: 30px;
	float: left;
	width: 20%;
}
#mainbox .hot>div:nth-child(2){
	display: inline-block;
	width: 70%;
	margin-top: 30px;
	float: left;
}
#mainbox .hot>div:nth-child(2) hr{
	margin: 10px auto;
}
#mainbox .hot>div:nth-child(2) p{
	line-height: 26px;
}
#mainbox .hot hr,#mainbox .hot ul{
	clear: both;
	margin: 20px auto
}
#mainbox .hot ul li{
	height: 40px;
	font-size: 0.8rem;
}
#mainbox .hot ul li span{
	margin-right: 40px;
}
#mainbox .hot ul li img:last-child{
	float: right;
}
